:root {
  --color-primary: #ff5403;
  --space1: 3px;
  --space2: 5px;
  --space3: 8px;
  --space4: 13px;
  --space5: 26px;
  --space6: 52px;
  --space7: 76px;
  --space8: 112px;
  --mobile: 400px;
  --small: 600px;
  --medium: 1000px;
  --large: 1300px;
  --standard-header: "Inria Serif", serif;
  --standard-font: "Inter", sans-serif;
  --brand-font: "Yeseva One", cursive;
  --standard-black: #000;
  --standard-white: #fff;
  --standard-grey: #e2e2e2;
  --standard-dark-grey: #545250;
  --standard-light-grey: #fcfaf6;
  --grey-passthough: #979797;
  --grey-border: #a9a9a8;
  --grey-placeholder: #716868;
  --grey-crumb: #53524e;
  --grey-disabled: #f2f2f2;
  --grey-chip: #f1f1f1;
  --grey-one: #d8d8d8;
  --bg-grey: #f7f7f7;
  --bg-dark: #383634;
  --bg-close-icon: #e9e7e3;
  --bg-light-gray: #e5e5e5;
  --standard-gold: #b59f66;
  --sale: #902f15;
  --error: #9a3515;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: var(--standard-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 
header

*/

.header-container {
  height: 4rem;
  position: sticky;
  border-bottom: 2px solid gray;
  background: white;
  top: 0;
  z-index: 99;
  box-shadow: 0px 2px 8px 0px lightgray;
  background-color: var(--standard-light-grey);
  /* width: 100vw; */
}
.header-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  height: 100%;
}
.nav-right {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.nav-left {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.nav-left a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
.nav-title {
  font-size: larger;
  font-weight: 700;
  text-shadow: 5px 0px 5px gray;
}
.search-bar {
  width: 100%;
  max-width: 600px;
}
.search-bar input {
  padding: 10px;
  width: 100%;
  margin-bottom: unset;
}
.color-contrast {
  color: var(--color-primary);
}
button {
  padding: 2px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}
.nav-icon {
  color: var(--color-primary);
}

.active .nav-icon {
  font-weight: bold;
  transform: scale(1.2);
}

/* 
product-page
*/
.product-page {
  display: flex;
  flex-wrap: nowrap;
}
.product-list-layout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 1.5rem 0;
}
.product-list-layout.filter-border {
  border-left: 3px solid var(--color-primary);
}
.product-list-outline {
  width: 300px;
  margin: 0.5rem;
  border: 4px solid var(--color-primary);
  border-radius: 15px;
  box-shadow: 5px 5px 5px #80808057;
}

.product-list.img-container {
  width: 100%;
}

.product-list.img-container img {
  /* height: 220px !important; */
  /* width: 173px; */
}

.product-list img {
  border-radius: 1px;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 12px 12px 0 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.hero-container {
  background-image: url("./assets/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  width: 100%;
}

.hero-container-content,
.hero-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-container-title {
  font-size: 42px;
  line-height: 50px;
}
.hero-container-content {
  max-width: 500px;
  gap: 40px;
  padding: 0 32px;
}
.hero-container-content > .hero-btn {
  padding: 14px;
  width: 150px;
  font-weight: bold;
}
.hero-container-content > .hero-btn:hover {
  background-color: var(--bg-light-gray);
}

.home-collection-container {
  margin-top: 8px;
  margin-bottom: 3rem;
}

.home-message {
  margin: 0 30px;
  padding: 60px 0;
  text-align: center;
  text-transform: uppercase;
}
.home-gold {
  color: var(--color-primary);
}
.collections-container.container-large {
  max-width: 1440px;
}

.collections-container {
  margin: 0 auto;
  width: 90%;
}

.collections-title-container {
  margin-bottom: 32px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.collections-title-container .collections-title {
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
}

.product-collection-container {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
}

.product-collection {
  /* background-image: url(./assets/collections/collection1.png); */
  min-height: 330px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.product-collection-content {
  bottom: 50px;
  left: 30px;
  color: white;
  position: absolute;
  z-index: 10;
}

.product-collection span {
  transition: color 0.3s ease-in-out;
}

.product-collection-title {
  margin-bottom: 16px;
  display: block;
  font-family: Inria Serif, serif;
  font-size: 42px;
  line-height: 50px;
  padding-right: 16px;
}

.product-collection-text {
  border-bottom: 1px solid white;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.product-collection-overlay {
  background-color: black;
  min-height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 9;
}

.layout-single-product {
  /* padding-top: 100px; */
  padding-bottom: 150px;
}

.layout-single-product .root-container {
  padding-top: 16px;
}

.product-attribute {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 3rem auto;
  overflow: hidden;
}

.product-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.product-gallery {
  margin-right: 0;
  position: static;
}

/* .product-detail {} */

.attribute-detail-container {
  max-width: 500px;
  text-align: left;
}

.attribute-detail-container h4 {
  line-height: 38px;
  font-size: 32px;
}

.attribute-detail-container p {
  font-size: 15px;
  line-height: 24px;
  margin-top: 2rem;
}

.attribute-img-container {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* 
aside {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);

    /* background-color: lightgray; */
/* }  */

.filter-page {
  display: grid;
  top: 5rem;
  grid-template-areas:
    "head head"
    "aside main"
    "action action";
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: lightcyan;
  grid-template-rows: 5% 90% 5%;
}

.filter-head {
  grid-area: head;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.filter-head h4 {
  text-align: left;
}

.filter-action {
  grid-area: action;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.side-filter-bar {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* .filter-bar {
  height: 20%;
} */

.filter-inputs {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.filter-input {
  height: 20%;
}

.filter-input.sort {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.filter-input.sort input {
  margin: auto;
}

.filter-input.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.filter-input.category label {
  margin: 5px;
}

.filter-page button {
  grid-area: btn;
}
/* 
Login Page
*/
.login-container,
.address-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 10px 11px 5px 0px #ccc;
  padding: 30px;
  border: 2px solid var(--color-primary);
  border-radius: 15px;
}

.form a {
  font-style: italic;
  text-decoration: none;
}
.form a span {
  text-decoration: underline;
}
.login-form label,
.address-popup label {
  text-align: left;
}
.login-form button,
input {
  margin-bottom: 1rem;
}
.login-form input,
.address-popup input {
  border: 1px solid var(--color-primary);
  padding: 5px;
}
.login-form input:focus,
.address-popup input:focus {
  border: 3px solid var(--color-primary);
  outline: none;
}
.login-password-input {
  position: relative;
}
.login-password-input input {
  width: 100%;
}
.login-password-input span {
  position: absolute;
  text-align: center;
  right: 10px;
  top: 5px;
  font-size: medium;
  color: var(--grey-placeholder);
}
.login-password-input span:hover {
  cursor: pointer;
}

.loader {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-25%, 25%);
}
.sidebar {
  display: block;
  position: sticky;
  top: 4rem;
  left: 0;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  padding: 0.5rem 1rem;
}

.sidebar-head {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  align-items: center;
}
.filter-left-container {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}
.sidebar-filter-container:first-of-type {
  border-top: 2px solid var(--color-primary);
}
.sidebar-filter-container {
  /* border-top: 2px solid var(--color-primary); */
  border-bottom: 2px solid var(--color-primary);
  margin: 1rem 0;
}
.sidebar-filter-container:last-of-type {
  border-bottom: none;
}
.filter-page {
  width: 30%;
  position: relative;
  height: 100%;
}
.filter-text {
  text-align: left;
  margin: 0.5rem auto;
}
.filter-input {
  margin-bottom: 1rem;
}
.filterButtons {
  display: none;
}
.product-list-layout {
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* position: relative;
    left: 200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: calc(100% - 300px); */
  /* overflow: hidden; */
  /* margin: 0px 4rem; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}
.product-card-detail {
  margin: 0 var(--space3);
}
.product-collection-content {
  bottom: 75px;
  left: 55px;
}

.product-collection-container {
  grid-template-columns: 1fr 1fr;
}

.product-list.img-container img {
  /* height: 400px !important; */
}

.attribute-img-container {
  width: 100%;
  height: 100%;
}

.attribute-details {
  background-color: #fcfaf6;
  text-align: left;
  padding: 5rem 2rem;
}

.hero-container {
  min-height: 80vh;
}

.layout-single-product {
  /* padding-top: 152px; */
  max-width: var(--medium);
  margin: auto;
}

.product-container {
  display: flex;
}

.product-gallery {
  margin-right: 16px;
  align-self: start;
  flex-grow: 1;
  position: sticky;
  top: 190px;
}

.product-detail {
  /* max-width: 350px; */
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-detail .header-container {
  font-family: var(--standard-header);
  line-height: 1rem;
}
.product-detail .product-btn-container .btn {
  align-self: flex-start;
  display: inline-block;
  margin-right: 1rem;
}

.attribute-img-containe {
  height: unset;
  width: 100%;
}

/* *********************button*************** */

.btn {
  background-color: var(--standard-black);
  color: var(--standard-white);
  padding: var(--space3);
  border-radius: var(--space1);
}
.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--standard-black);
  border-color: var(--color-primary);
}
.cart-btn,
.wishlist-btn {
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  width: 100%;
}

/* ***********************cart page*************************  */
.cart.product-detail {
  gap: 0;
}
.cart.product-detail > p {
  font-size: larger;
  margin-top: 0.5rem;
}
.cart .product-list-prices {
  display: flex;
  align-items: center;
  font-size: large;
}
.cart .product-list-prices p {
  width: 25%;
}
.price-container {
  width: 50%;
  margin: var(--space3);
}
.product-quantity-container {
  display: flex;
  align-items: center;
}
.qty-label {
  width: 25%;
}
.qty-btns {
  border: 1px solid var(--standard-grey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: var(--space3);
  padding: var(--space2);
  width: 50%;
}
.qty-btn {
  color: black;
  border: none;
  background-color: transparent;
}
.qty-value,
.qty-btn {
  font-size: large;
}
.qty-btn:hover {
  cursor: pointer;
}
.qty-btn:disabled {
  cursor: not-allowed;
}
.priceblock-container,
.orderblock-container,
.deliveryblock-container {
  border: 1px solid black;
  box-shadow: 4px 6px 5px gray;
  width: 400px;
  margin: 1rem auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.orderblock-container {
  border: none;
  box-shadow: none;
}
.deliveryblock-container {
  border: none;
  box-shadow: none;
}
.pricedetail-row,
.pricedetail-total,
.orderdetail-row {
  /* display: flex; */
  color: var(--standard-dark-grey);
  /* justify-content: flex-start; */
  margin: var(--space3) 5%;
  width: 90%;
  text-align: left;
}
.orderdetail-row:last-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--standard-grey);
  border-bottom-style: double;
}
.pricedetail-value,
.orderdetail-value {
  float: right;
  color: var(--standard-black);
}
.priceblock-priceHeader,
.orderblock-orderHeader,
.deliveryblock-deliveryHeader {
  margin-top: var(--space3);
}
.deliveryblock-deliveryHeader {
  margin-bottom: var(--space2);
}
.pricedetail-total {
  border-top: 1px solid var(--standard-grey);
  margin-top: var(--space3);
  margin-bottom: var(--space3);
  padding: var(--space2) 0px;
  color: var(--standard-black);
  font-weight: bold;
  border-bottom: 1px solid var(--standard-grey);
}
.checkout-btn {
  width: 90%;
  margin-bottom: var(--space3);
}
/* *************** checkout page ************** */
.address-container {
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* cursor: pointer; */
}
.add-address-btn {
  width: 10rem;
  margin: auto;
}
.address-popup {
  transform: translate(-50%, -50%);
  background-color: var(--standard-white);
  width: 90%;
  box-shadow: none;
  margin: auto;
  max-width: 500px;
}
.address-popup h2 {
  margin-bottom: 1rem;
}
.close-icon {
  position: absolute;
  right: 10px;
  top: 5px;
}
.close-icon:hover {
  cursor: pointer;
}
.address-container button {
  margin-bottom: 1rem;
}

.address-card {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
  margin: 1rem;
  box-shadow: 5px 5px 5px 5px lightgray;
  padding: 1rem;
}

.address-card-container .select-address-header {
  text-align: left;
  padding: 0.5rem 1rem;
}

.address-card-container {
  margin-bottom: 2rem;
}
.add-address-btn {
  margin-top: 1rem;
}

.deliveryblock-container .address-card {
  box-shadow: none;
  padding: 0;
}
.address-card-icons span:hover {
  transform: scale(1.5);
  cursor: pointer;
}
/* **************** profile page ***************** */
.profileblock-container {
  margin: 2rem auto;
  box-shadow: 5px 5px 5px 5px var(--bg-light-gray);
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-address-btns {
  display: flex;
  width: 100%;
  gap: 1px;
}
.profile-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: var(--standard-white);
}
.address-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.profile-btn,
.address-btn {
  width: 50%;
  border: none;
}
.profile-info-container {
  margin: 1rem;
  min-height: 300px;
}

.profile-info-container {
  padding: 1rem;
}

/* *****************footer****************** */
/* footer */
.footer {
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--standard-light-grey);
  color: var(--color-primary);
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-shadow: -1px -1px 8px 0px lightgray;
  margin-top: auto;
}

footer .link-list {
  text-align: center;
  margin: 1rem 0;
  list-style-type: none;
  margin: 1rem auto;
}

footer .link-list li {
  display: inline;
  padding: 1rem;
}

footer .footer-text {
  font-weight: bold;
  font-size: large;
  color: var(--standard-black);
}

footer li a i {
  color: var(--color-primary);
  font-size: 1.3rem;
}

footer li a i:hover {
  transform: scale(1.5);
}

/* media queries */

@media (min-width: 400px) {
  /* .product-list.img-container img {
    height: 300px !important;
  } */

  /* .product-list-layout {
        grid-template-columns: 1fr 1fr;
    } */
}

@media (min-width: 760px) {
  .product-detail {
    margin: 2rem;
  }
  .product-container {
    flex-direction: row;
  }
  .product-attribute {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .attribute-details {
    min-width: none;
  }
  .address-card-container {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .hero-container-title {
    font-size: 72px;
    line-height: 82px;
  }
}
@media (min-width: 1020px) {
  .hero-container-content {
    max-width: 700px;
  }
  .filterButtons {
    display: none;
  }
  .product-list-layout {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* position: relative; */
    /* left: 200px; */
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100% - 300px); */
    /* overflow: hidden; */
    /* margin: 0px 4rem; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
  }
  .attribute-details {
    min-width: 500px;
  }
}
